/* Desktop-specific Styles (BEM Naming) */
@media (min-width: 1024px) {
  /* Ensure the search bar is visible on desktop */
  .search-bar {
    display: flex;
  }

  /* Sidebar on desktop is shown normally */
  .sidebar {
    display: flex;
    position: relative;
    height: auto;
    width: 200px;
    box-shadow: none;
  }

  #burger-btn {
    display: none;
  }
}
