body {font-family: Arial, Helvetica, sans-serif;}

header, footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
}
.header__upper {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    justify-self: flex-start;
}
.header__links, .header__language {
    justify-self: flex-end;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #f8f8f8;
  color: #848484;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.avatar {
  width: 40%;
}

.loginContainer, .opretContainer {
  padding: 16px;
}

.loginContainer > button, .opretContainer > button {
  margin: 0 auto;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  height: 1000px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
  background-color: #bc2d1f;
  padding: 10px;
}

.gridItem {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 20px;
}

.gridHeader {
  grid-column: 2 / span 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f8f8;
}

.gridHeader input {
  height: 50%;
}

.sideNav {
  grid-column: span 1;
  grid-row: 1 / span 7;
  background-color: #f8f8f8;
}

.grid1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
}

.grid2 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.grid3 {
  grid-column: 5 / span 1;
  grid-row: 2 / span 2;
}

.grid4 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.grid5 {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}

.grid6 {
  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}

.grid7, .grid8{
  grid-column: span 1;
  grid-row: 6 / span 2;
}

footer {
    margin-top: 20px;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}